{% extends 'CookbookBundle:default:base.html.twig' %}
{% form_theme registerForm 'bootstrap_3_layout.html.twig' %}

{% block main %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1>Registration</h1>
                    {{ form_start(registerForm, {'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_errors(registerForm) }}
                        {{ form_row(registerForm.user) }}
                        {#{{ form_row(registerForm.terms) }}#}
                    {{ form_end(registerForm) }}

                    <p>Already a member? <a href="/login">Sign in.</a></p>
                </div>
            </div>
        </div>
    </main>
{%  endblock %}