{% form_theme recipeForm 'bootstrap_3_layout.html.twig' %}

<div class="col-sm-12 col-md-8 col-lg-6">
    <h1 class="cb-h1">Add Recipe</h1>
    {{ form_start(recipeForm, {'attr': {'novalidate': 'novalidate', 'id': 'cb-ris-form'}}) }}

        {{ form_errors(recipeForm) }}

        <div class="cb-ris-form-field-1">
            {{ form_row(recipeForm.title) }}
            {{ form_row(recipeForm.author) }}
            {{ form_row(recipeForm.source) }}
        </div>

        <div class="cb-ris-form-field-2">
            {{ form_row(recipeForm.category) }}
            {{ form_row(recipeForm.duration) }}
            {{ form_row(recipeForm.servings) }}
        </div>

        <div class="cb-ris-form-field-tags">
            {{ form_row(recipeForm.tags) }}
        </div>

        <div class="cb-ris-form-field-ingredients">
            {{ form_row(recipeForm.ingredients) }}
        </div>

        <div class="cb-ris-form-field-3">
            {{ form_row(recipeForm.preparation) }}
            {{ form_row(recipeForm.instructions) }}
        </div>

        {{ form_row(recipeForm.image) }}
    {{ form_end(recipeForm) }}
</div>