<div class="row" id="cb-search">
    <div class="col-lg-push-4 col-lg-4 col-md-push-4 col-md-4 col-sm-push-3  col-sm-6 col-xs-12">
        {{ form_start(searchForm, {'attr': {'id': 'cb-search-form'}}) }}
        <div class="input-group">
            {{ form_row(searchForm.search, {'attr': {'class': 'form-control'}}) }}
            <span class="input-group-btn"><button class="btn btn-default"><span
                            class="glyphicon glyphicon-search"></span></button></span>
        </div>
        {{ form_end(searchForm) }}
        <button id="cb-search-refine-button-down" class="btn btn-default" type="button" data-toggle="collapse"
                data-target="#cb-search-refine"
                aria-expanded="false" aria-controls="cb-search-refine" title="Refine Search">
            <span class="glyphicon glyphicon-collapse-down"></span>
        </button>
    </div>

    <div class="col-lg-push-4 col-lg-4 col-md-push-4 col-md-4 col-sm-push-3 col-sm-3 hidden-xs">
        <a class="cb-scroll-down" href="#show-recipes" title="scroll down"><span class="glyphicon glyphicon-menu-down"></span></a>
    </div>
</div>

<div class="row collapse" id="cb-search-refine">
    <div class="col-md-push-3 col-md-6 col-lg-push-3 col-lg-6 ">
        <div class="cb-search-refine-box">
            <button id="cb-search-refine-button-up" class="btn btn-default" type="button" data-toggle="collapse"
                    data-target="#cb-search-refine"
                    aria-expanded="true" aria-controls="cb-search-refine" title="Refine Search">
                <span class="glyphicon glyphicon-collapse-up"></span>
            </button>

            <div class="cb-clear-both"></div>

            {{ form_start(searchRefineForm, {'attr': {'id': 'cb-search-refine-form'}}) }}
                {{ form_errors(searchRefineForm) }}

                <div class="cb-search-refine-form-title">
                    {{ form_row(searchRefineForm.title) }}
                </div>

                <div class="cb-search-refine-form-category">
                    {{ form_row(searchRefineForm.category) }}
                </div>

                <div class="cb-search-refine-form-ingredients">
                    {{ form_row(searchRefineForm.ingredient1) }}
                    {{ form_row(searchRefineForm.ingredient2) }}
                    {{ form_row(searchRefineForm.ingredient3) }}
                </div>

                <div class="cb-search-refine-form-tags">
                    {{ form_row(searchRefineForm.tag1) }}
                    {{ form_row(searchRefineForm.tag2) }}
                    {{ form_row(searchRefineForm.tag3) }}
                </div>
                <div class="cb-clear-both"></div>
                {{ form_row(searchRefineForm.dietary) }}
                {{ form_row(searchRefineForm.image) }}
            {{ form_end(searchRefineForm) }}
        </div>
    </div>
</div>