{% block ingredients %}
    <h2>Ingredients</h2>
    <form method="post" action="/recipe/{{ recipe.id }}/add/to/shoppinglist" name="addToShoppingListForm"
          id="cb-sl-addItemsToShoppingListForm">
        <ul>
            {% for ingr in ingredients %}
                <li>
                    {% if ingr.amount %}
                        {% set amount = ingr.amount %}
                    {% else %}
                        {% set amount = "" %}
                    {% endif %}

                    {% if ingr.measurement %}
                        {% set measurement = ingr.measurement.name %}
                    {% else %}
                        {% set measurement = "" %}
                    {% endif %}

                    {% if ingr.ingredient %}
                        {% set ingredient = ingr.ingredient.name %}
                    {% else %}
                        {% set ingredient = "" %}
                    {% endif %}

                    <input type="checkbox" value='{{ amount ~ " " ~ measurement ~ " " ~ ingredient }}' name="addToShoppingListItem{{ loop.index }}" class="cb-sl-addToShoppingListItemCheckbox">
                    <span class="cb-sl-addToShoppingListItem">
                        <span>{{ amount }}</span>
                        <span>{{ measurement }}</span>
                        <span>{{ ingredient }}</span>
                    </span>
                </li>
            {% endfor %}
        </ul>
        <button class="btn btn-default" id="cb-sl-addItemsToShoppingListButton"><span
                    class="glyphicon glyphicon-plus"></span> Add to Shopping List
        </button>
    </form>

    <button class="btn btn-default" id="cb-sl-checkAllShoppingListItems"><span class="glyphicon glyphicon-check"></span>
        Check all
    </button>

    <!-- Confirmation modal add items -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true" id="cb-sl-confirmAddItemsToShoppingList">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to add these items to your shopping list?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary" id="cb-sl-yesAddItemsToShoppingListButton">Yes, add!
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}