{% block recipeinfo %}
    <section>
        <h1 class="cb-ros-recipe-title">{{ recipe.title }}</h1>

        <div class="cb-ros-recipe-info">
            {%- if recipe.author -%}
                <p>Recipe by {{- " "~recipe.author -}}</p>
            {%- endif -%}

            <p>Ready in
                {% if duration_hours == 01 %}
                    {{ duration_hours }} hour
                {% elseif duration_hours > 01 %}
                    {{ duration_hours }} hours
                {% endif %}
                {% if duration_minutes == 01 %}
                    {{ duration_minutes }} minute
                {% elseif duration_minutes > 01 %}
                    {{ duration_minutes }} minutes
                {% endif %}
            </p>

            <p><span class="cb-ros-recipe-bold-txt">Category</span> {{ recipe.category.name }}</p>

            {%- if recipe.tags|length > 0 -%}
                <p><span class="cb-ros-recipe-bold-txt">Tags </span>
                    {%- for tag in recipe.tags -%}
                        {{- tag.tag.name -}}
                        {%- if loop.index < recipe.tags|length -%}, {% endif -%}
                    {%- endfor -%}
                </p>
            {% endif %}
            {% if source.text %}
                <p><span class="cb-ros-recipe-bold-txt">Source</span>
                    {% if source.isURL %}
                        <a class="cb-ros-source" href="{{ source.text }}" target="_blank">{{ source.text }}</a>
                    {% else %}
                        {{ source.text }}
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </section>
{% endblock %}