{% block recipeinfo %}
    <section>
        {%- if recipe.author -%}
            <p>
                {{- recipe.author -}}
            </p>
        {%- endif -%}

        <h1>{{ recipe.title }}</h1>

        <p>Ready in <time>{{ duration }}</time></p>
        <p>serves <input type="number" id="servings" data-orig-servings="{{ recipe.servings }}" value="{{ recipe.servings }}" name="quantity" min="1" max="100"></p>

        <p>Category: {{ recipe.category.name }}</p>
        {%- if recipe.tags|length > 0 -%}
            <p>Tags:<br>
            {%- for tag in recipe.tags -%}
                {%- if tag.classification -%}
                    {{- tag.classification.name -}}:
                {% endif -%}
                {{- tag.tag.name -}}
            {%- endfor -%}
            </p>
        {% endif %}

    </section>
{% endblock %}