{% block header %}
    <header>
        <nav class="cb-navbar-nav navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" title="Home">
                        <h1 class="cb-title">coo.boo.</h1>
                    </a>

                    {% if app.user %}
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#cb-navbar" aria-expanded="false">
                            <img src="{{ asset('img/user.png') }}" width="20" alt="user">
                            <span class="hidden-xs">{{ app.user.username }} </span>
                            <span class="caret"></span>
                        </button>
                </div> <!-- end navbar-header -->

                    <div class="collapse navbar-collapse" id="cb-navbar">
                        <ul class="cb-header-links nav navbar-nav hidden-sm hidden-md hidden-lg">
                            <li>
                                <a href="/shoppinglist" title="my shopping list">
                                    <img src="{{ asset('img/my_shopping_list.png') }}" width="20"
                                         alt="My Shopping List" title="My Shopping List">
                                    Shopping List
                                </a>
                            </li>
                            <li>
                                <a href="/addRecipe" title="add recipe">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Add Recipe
                                </a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>

                        <div class="dropdown hidden-xs" id="cb-um-user-dropdown">
                            <button class="btn btn-default" id="cb-um-dropdown" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <img src="{{ asset('img/user.png') }}" width="20" alt="user">
                                <span class="hidden-xs">{{ app.user.username }} </span>
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="cb-um-dropdown">
                                <li role="presentation">
                                    <a role="menuitem" href="/shoppinglist" title="shopping list"><img
                                                src="{{ asset('img/my_shopping_list.png') }}" width="20"
                                                alt="My Shopping List" title="My Shopping List">
                                        Shopping List
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" href="/addRecipe" title="add recipe">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Add Recipe
                                    </a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/logout" title="logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% elseif not app.user %}
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#cb-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div> <!-- end navbar-header -->

                    <div class="collapse navbar-collapse" id="cb-navbar">
                        <ul class="cb-header-links nav navbar-nav">
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                        </ul>
                    </div>

                {% endif %}

            </div>
        </nav>
    </header>
{% endblock %}
